body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.css-1kpubfb-MuiPickerStaticWrapper-content{ /* Dark theme */
  background-color: #00000000 !important;
}

.css-1pchf0t-MuiPickerStaticWrapper-content{ /* Light theme */
  background-color: #00000000 !important;
}

/* Swiper */
.swiper-pagination {
  bottom: 94% !important;
}

.swiper-pagination-bullet {
  background: #fff !important;
}

.swiper-pagination-bullet-active {
  background: #FCAE1A !important;
}

.editSwiper .swiper-pagination {
  pointer-events: none !important;
}

/* Filepond */
.filepond--panel-root {
  background-color: #00000000 !important;
}
